.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E4EA8C;
  width: 800px;
}

.app-heading {
  padding-top: 30px;
  color: #3F6C45;
}

.show-more-btn {
  padding: 5px 10px;
  margin-bottom: 30px;
  font-size: 16px;
  color: white;
  background-color:#3F6C45;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s;
}

.show-more-btn:hover {
  background-color:#CB0000;
  transition: 0.25s;
}